In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Grocery_Sales_Final.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Age,Item_Price_Per_Visibility
0,FDA15,9.30,0,0.016047,Dairy,249.8092,9,1999,1,0,1,3735.1380,25,1.547065e+04
1,DRC01,5.92,1,0.019278,Soft Drinks,48.2692,3,2009,1,2,2,443.4228,15,2.490900e+03
2,FDN15,17.50,0,0.016760,Meat,141.6180,9,1999,1,0,1,2097.2700,25,8.399607e+03
3,FDX07,19.20,1,0.000000,Fruits and Vegetables,182.0950,0,1998,2,2,0,732.3800,26,1.820950e+06
4,NCD19,8.93,0,0.000000,Household,53.8614,1,1987,0,2,1,994.7052,37,5.386140e+05

In [4]:
# Group by Item_Type to analyze price sensitivity
grouped_df = df.groupby("Item_Type")["Item_MRP", "Item_Outlet_Sales"].mean().reset_index()

# Compute % change in price and sales
# Shift data to get previous values for comparison
grouped_df['MRP_prev'] = grouped_df['Item_MRP'].shift(1)
grouped_df['Sales_prev'] = grouped_df['Item_Outlet_Sales'].shift(1)

grouped_df.dropna(inplace=True)  # Remove NaN values from shifting

grouped_df['% Change in Price'] = ((grouped_df['Item_MRP'] - grouped_df['MRP_prev']) / grouped_df['MRP_prev']) * 100
grouped_df['% Change in Sales'] = ((grouped_df['Item_Outlet_Sales'] - grouped_df['Sales_prev']) / grouped_df['Sales_prev']) * 100

grouped_df['PED'] = grouped_df['% Change in Sales'] / grouped_df['% Change in Price']

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.